.body1{
    background-color: #3f6be3;
    font-family: 'Lato', sans-serif;
font-weight: bold;
color: white;
    
    }
    
    .body2{
        background-color: #3f6be3;
        align-items: center;
        margin: 0;
        display: flex;
        justify-content: center;
        font-family: 'Lato', sans-serif;
        font-weight: bold
        }
    
    .body3{
        background-color: #3f6be3;
        margin: 0px;
        font-family: 'Lato', sans-serif;
        font-weight: bold
    }
    .body4{
        background-color: #3f6be3;
   color: #f4f9f9
    }
    .main{
        font-family: "Monospace", sans-serif;
    font-size: 30px;
    text-align: center;
    color: #f4f9f9;
    margin: 0;
    margin-top: 100px; 
    }
    .mainpage{
        font-family: "Times New Roman", sans-serif;
        font-style: italic;
    }
    
    .Enter{
        font-size: 20px;
        text-align: center;
        color:#f4f9f9;
        /* margin: 0;
        margin-top:100px; */
    }
    input{
        text-align: center;
        margin-top:300px;
        margin: 0;
        align-items: center;
        border-radius: 6px;

    }
    .imge{

        /* width: 10px;
        height: 10px; */
        border-image: 10px;
        background-image: url("image/logo.png")

        
    }
    h1{
        color:white;
        font-family: "Impact", sans-serif;

        
    }
    #back{
        width: 50px;
        height: 30px ;
        bottom: 20px;

        /* background: white; */
    }

    button{
        width: 200px;
        height: 30px ;
        padding: 10px;
        text-align: center;
        border-radius: 5px;
        font-weight: bold;
        margin: 30px ;
        font-size: 10px;
        position: relative
    }

    .ins {
        overflow:scroll;
       margin: 6px;
       padding: 5px;
       color: #f4f9f9
    }
    a {
        text-decoration: none;
        color: #354e71;
        padding: 6px;
    }
    
    
    .link{
    
        text-align: center;
        color: #f4f9f9;
        align-items: center;
        padding: 10;
        background-color: #f4f9f9;
        height: 30px;
        font-size: 20px;
        display:flex;
    
    
        /* flex-direction: row-reverse;
        flex-wrap: wrap;
        justify-content: center;  */
    
    }
    .link:hover{
        background-color: aquamarine;
    
    }
    
    .patient-info {
        background: rgba(255, 255, 255, .447) ;
        border: 1px solid gray;
        border-radius: 10px;
        padding: 20px;
        margin: 20px;
    
    
    }
    #overlay {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: #000;
        filter:alpha(opacity=70);
        -moz-opacity:0.7;
        -khtml-opacity: 0.7;
        opacity: 0.7;
        z-index: 100;
        display: none;
        }
        .cnt223 a{
        text-decoration: none;
        }
        .popup{
        width: 100%;
        margin: 0 auto;
        display: none;
        position: fixed;
        z-index: 101;
        }
        .cnt223{
        min-width: 600px;
        width: 600px;
        min-height: 150px;
        margin: 100px auto;
        background: #f3f3f3;
        position: relative;
        z-index: 103;
        padding: 15px 35px;
        border-radius: 5px;
        box-shadow: 0 2px 5px #000;
        }
        .cnt223 p{
        clear: both;
            color: #555555;
            /* text-align: justify; */
            font-size: 20px;
            font-family: sans-serif;
        }
        .cnt223 p a{
        color: #d91900;
        font-weight: bold;
        }
        .cnt223 .x{
        float: right;
        height: 35px;
        left: 22px;
        position: relative;
        top: -25px;
        width: 34px;
        }
        .cnt223 .x:hover{
        cursor: pointer;
        }

        .submit > div:hover {
            background-color: rgb(7, 11, 12);
          }
        